/* ==UserStyle==
@name           Spoiler Free Olympics - 2026 - Olympics.com
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    https://github.com/Go1den/spoiler-free-olympics
@author         Go1den
==/UserStyle== */

@-moz-document url-prefix("https://www.olympics.com/en/milano-cortina-2026/schedule") {
    
    /**
    --- SCHEDULE PAGE SETTINGS ---
    **/
    
    /* Hides the winner checkmark on each result */
    svg[aria-label="Winner"] {
        display: none !important;
    }
    
    /* Hides the bolded team names for winning teams */
    p {
        font-weight: 400 !important; 
    }
    
    /* Hides the teams participating in each contest - THIS MAY MAKE IT HARDER TO FIND A SPECIFIC TEAM OR REPLAY */
    div[data-testid="dailyScheduleEvent"] > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) {
        display: none;
    }
    
    /* Hides the final scores of a contest */
    div[data-testid="dailyScheduleEvent"] > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
        display: none;
    }
    
    /* Hides random junk articles in the schedule */
    article {
        display: none !important;
    }
    
    /* Hides ads in the schedule */
    div[data-row-type="custom-row-info-box"] {
        display: none;
    }

}

/*  Hides the body of the main Olympics page, assuming you are using the English site. You could replicate this for any other homepage variant
    by simply altering the url in the mod-document line*/

@-mod-document url("https://www.olympics.com/en/milano-cortina-2026") {
    
    /**
    --- MAIN OLYMPICS.COM PAGE SETTINGS ---
    **/
    
    /* Hides the main body on the main page. The idea here is that you would just click on the Schedule tab anyway to navigate to the VODs */
    #mainContent, #contentInfo {
        display: none;
    }
}
